<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="KoloDb" connectionString="server=localhost;port=3308;user id=kolo;password=wNSUBo50qLgpQS8N7IW7;persist security info=True;database=kolo;Convert Zero Datetime=True;Allow User Variables=True" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>